.demo-background {
  background: linear-gradient(180deg, #4786a2, #5098b7, #4786a2, #a7d1cc);
  background-size: 800% 800%;
  -webkit-animation: Lynk 0s ease infinite;
  -moz-animation: Lynk 0s ease infinite;
  -o-animation: Lynk 0s ease infinite;
  animation: Lynk 0s ease infinite;
  @-webkit-keyframes Lynk {
      0%{background-position:50% 0%}
      50%{background-position:51% 100%}
      100%{background-position:50% 0%}
  }
  @-moz-keyframes Lynk {
      0%{background-position:50% 0%}
      50%{background-position:51% 100%}
      100%{background-position:50% 0%}
  }
  @-o-keyframes Lynk {
      0%{background-position:50% 0%}
      50%{background-position:51% 100%}
      100%{background-position:50% 0%}
  }
  @keyframes Lynk {
      0%{background-position:50% 0%}
      50%{background-position:51% 100%}
      100%{background-position:50% 0%}
  }
}

.title {
  text-transform: uppercase;
  color: #E5E5E5;
  text-shadow: 2px 2px #5098b7;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  line-height: 0.9;
  padding-top: 30px;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 24px;
  vertical-align: bottom;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  margin: 5% 10%;
  text-transform: uppercase;
  color: #E5E5E5;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  line-height: 2;
  text-shadow: 2px 2px #5098b7;
}

ul {
  margin: 12px 0;
  text-align: center;
}

.list-feature li {
  margin: 10px 0;
  font-size: 17px;
  text-transform: uppercase;
  color: #E5E5E5;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  line-height: 0.9;
}

footer {
  font-size: 20px;
  margin: 30px;
}

a {
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
  color: #E5E5E5;
  /*font-weight: bold;*/
  margin: 40px 0;
  text-shadow: 1px 1px #5098b7;
}

a:hover {
  color: #0B4F6C;
  text-shadow: 2px 2px #5098b7;
}

.link-logo {
  width: 190px;
  height: 110px;
}

h1 {
  display: flex;
  margin-top: 30px;
  margin-bottom: 0;
}

h1 > div {
  margin: 0 10px;
}

.lyft-phone {
  float: left;
  position: relative;
}

.lyft-gif {
  position: absolute;
  top: 110px;
  left: 58px;
}

.uber-phone {
  float: left;
  position: relative;
}

.uber-gif {
  position: absolute;
  top: 110px;
  left: 58px;
}
